# EPIC SANDBOX
EPIC_CLIENT_ID_SANDBOX=
EPIC_SANDBOX_BASE_URL=https://fhir.epic.com/interconnect-fhir-oauth
EPIC_REDIRECT_URI_SANDBOX=app-soin-plaie://oauth/callback
EPIC_SCOPES_SANDBOX=launch openid fhirUser offline_access patient/Patient.read patient/AllergyIntolerance.read patient/MedicationStatement.read patient/Condition.read patient/Observation.read

# EPIC PRODUCTION
EPIC_CLIENT_ID_PRODUCTION=
EPIC_PRODUCTION_BASE_URL=
EPIC_REDIRECT_URI_PRODUCTION=app-soin-plaie://oauth/callback
EPIC_SCOPES_PRODUCTION=launch openid fhirUser patient/Patient.read patient/Observation.read patient/Observation.write patient/Condition.read patient/AllergyIntolerance.read patient/MedicationStatement.read offline_access

# CONFIGURATION
EPIC_MODE=sandbox
EPIC_FHIR_VERSION=R4
EPIC_SMART_VERSION=v2

# PKCE
EPIC_PKCE_METHOD=S256
EPIC_PKCE_VERIFIER_LENGTH=128

# APP
APP_NAME=PlaieMobile
APP_VERSION=1.0.0
